<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreFramed-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CoreFramed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Framed-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Framed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FramedResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA7DC5861E5D277A00E49737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7DC5B51E5D387C00E49737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABAD2361E59A4850026AAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABAD2511E59A4B80026AAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABAD2621E59A6310026AAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
